
body {

    margin: 0;
    padding: 0;
}

canvas {
    margin: auto;
    z-index: 1000;
    /*width: 100% !important;*/
    /*height: 100% !important;*/

}


input {
    height: 50px;
    width: 260px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 50px 0 rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    color: #333333;
    padding-left: 10px;
    z-index: 1500;
}

button {
    height: 40px;
    width: 270px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: darkgreen;
    font-size: 30px;
    font-weight: 600;
    color: white;
    position: absolute;
}



